{% extends 'base.html' %} {% load static %} {% block content %}
<div class="container">
    <div class="row home ">
        <div class="col-lg-12 text-center my-auto">

            <small class="s-color">Welcome to my portfolio website!</small>
            <div class="animated">
                Hey, I'm<br>
                <span class="color-primary" id="animate-name"></span>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-6 text-center">
                    <p class="s-color mt-5">{{info.mini_about}}</p>
                </div>
            </div>

            <div class="social-icons m-0 mt-3" style="justify-content: center;">
                <a href="{{info.github}}" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
                <a href="{{info.linkedin}}" target="_blank">
                    <i class="fab fa-linkedin-in"></i>
                </a>
                <a href="{{info.instagram}}" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="{{info.facebook}}" target="_blank">
                    <i class="fab fa-facebook-f"></i></i>
                </a>
                <a href="{{info.twitter}}" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
            </div>
            {% include 'nav.html' %}
        </div>


    </div>
    <a href="/#education" class="scroll__down">
        <span class="scroll__mouse">
                
                <span class="scroll__wheel"></span>
        </span>
    </a>

    <!-- Experiences and Education -->
    {% include 'experiences_and_education.html' %}

    <!-- Languages and Tools -->
    {% include 'languages_and_tools.html' %}

    <!-- Projects -->
    {% include 'projects.html' %}

    <!-- About and Contact -->
    {% include 'about_and_contact.html'%}

</div>

<style>
    .animated {
        font-size: 40px;
        color: #d1d8e0;
        margin-top: 20px;
        font-weight: 900;
        height: 60px;
        line-height: 50px;
    }
    
    .animated span:before {
        content: '';
        animation: animate infinite 8s;
        opacity: 0;
        transition: opacity 0.3s;
    }
    
    @media (max-width: 800px) {
        .animated {
            height: 70px;
            font-size: 30px;
        }
    }
    
    @keyframes animate {
        30% {
            content: 'KERRY KOGEI';
            opacity: 1;
        }
        45% {
            opacity: 0;
        }
        65% {
            content: 'Programmer';
            opacity: 1;
        }
        70% {
            opacity: 0;
        }
        80% {
            content: 'Full Stack Developer';
            opacity: 1;
        }
    }
</style>
<script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js "></script>
<script>
    particlesJS("particles-js", {
        "particles": {
            "number": {
                "value": 70,
                "density": {
                    "enable": true,
                    "value_area": 1000
                }
            },
            "color": {
                "value": "#ffffff"
            },
            "shape": {
                "type": "circle",
                "stroke": {
                    "width": 0,
                    "color": "#000000"
                },
                "polygon": {
                    "nb_sides": 5
                },
                "image": {
                    "src": "img/github.svg",
                    "width": 100,
                    "height": 100
                }
            },
            "opacity": {
                "value": 0.5,
                "random": false,
                "anim": {
                    "enable": false,
                    "speed": 1,
                    "opacity_min": 0.1,
                    "sync": false
                }
            },
            "size": {
                "value": 3,
                "random": true,
                "anim": {
                    "enable": false,
                    "speed": 40,
                    "size_min": 0.1,
                    "sync": false
                }
            },
            "line_linked": {
                "enable": true,
                "distance": 180,
                "color": "#ffffff",
                "opacity": 0.4,
                "width": 1
            },
            "move": {
                "enable": true,
                "speed": 5,
                "direction": "none",
                "random": false,
                "straight": false,
                "out_mode": "out",
                "bounce": false,
                "attract": {
                    "enable": false,
                    "rotateX": 600,
                    "rotateY": 1200
                }
            }
        },
        "interactivity": {
            "detect_on": "canvas",
            "events": {
                "onhover": {
                    "enable": true,
                    "mode": "grab"
                },
                "onclick": {
                    "enable": true,
                    "mode": "push"
                },
                "resize": true
            },
            "modes": {
                "grab": {
                    "distance": 140,
                    "line_linked": {
                        "opacity": 1
                    }
                },
                "bubble": {
                    "distance": 400,
                    "size": 40,
                    "duration": 2,
                    "opacity": 8,
                    "speed": 3
                },
                "repulse": {
                    "distance": 200,
                    "duration": 0.4
                },
                "push": {
                    "particles_nb": 4
                },
                "remove": {
                    "particles_nb": 2
                }
            }
        },
        "retina_detect": true
    });
</script>

{% endblock content %}